.games-container{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.error-notice{
  margin-top: 15px;
  clear: both;
  display: block;
}

.game-title{
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.game-title:hover{
  color: #c2185b;
}
