<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <nav>
      <mat-toolbar color="primary">
        <div class="nav-left">
          <a routerLink="">Gambleton</a>
        </div>
        <span class="spacer"></span>
        <div class="nav-right">
          <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/games" routerLinkActive="active">Games</a></li>
            <li *ngIf="userService.loggedInUser == null"><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li *ngIf="userService.loggedInUser != null"><a routerLink="/account" routerLinkActive="active">{{userService.loggedInUser.username}} ({{userService.loggedInUser.money | currency:'EUR':'symbol':'2.2-2'}})</a></li>
          </ul>
        </div>
      </mat-toolbar>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer>
      &copy; Gambleton 2018
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

