<h3>Add match to {{game?.name}}</h3>
<form>
  <div class="match-settings">
    <mat-form-field>
      <input [(ngModel)]="matchTitle" matInput placeholder="Match title" name="match-title">
    </mat-form-field>
    <div class="date-time-group">
      <mat-form-field>
        <input [(ngModel)]="matchStartDate" matInput placeholder="Star date" type="date" name="match-start-date"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="matchStartTime" placeholder="Start time" type="time" matInput name="match-start-time"/>
      </mat-form-field>
    </div>
    <div class="date-time-group">
      <mat-form-field>
        <input [(ngModel)]="matchEndDate" matInput placeholder="End date" type="date" name="match-end-date"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="matchEndTime" placeholder="End time" type="time" matInput name="match-end-time"/>
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea [(ngModel)]="matchDescription" matInput placeholder="Description" name="match-description"></textarea>
    </mat-form-field>
  </div>
</form>
